@model ABAC.DTO.ForgotPasswordDTO
@{
    ViewData["Title"] = "MailForgotPassword";
    var name = Model.FirstName + " " + Model.LastName;


}
<div>
    Hi @name,
    <br />
    <br />
    We are received a request to reset password for your account.
    <br />
    <br />
    To reset password, click on the link below.
    <br />
    <br />
    <a href="http://168.120.30.119/Auth/FG?code=@(Model.aCode)">Click Here</a>
    <br />
    <table>
        <tr>
            <td style="padding-right:15px">
                <img src="" height="30" />
            </td>
            <td>
                <p>

                </p>
            </td>
        </tr> 
    </table>
</div>

