@inject ABAC.DAL.SpuContext _context
@using ABAC.Extensions;
@{
    ViewData["Title"] = "Home";
    var cms = _context.table_cms.FirstOrDefault();
}

<div class="container-fluid">
    <div id="preview">
        @Html.Raw(cms.HOME_Office)
    </div>

</div> <!-- end row -->
